.statistics {
    background-color: #fff;
    padding: 1em;
    border-radius: 4px;
    nav {
        a {
            color: $clr3;

            &:hover {
                color: $accent;
            }
        }
    }
}