.statistics {
    background-color: #fff;
    padding: 1em;
    border-radius: 4px;
    nav {
        a {
            color: $clr3;

            &.router-link-active {
                font-family: Noto-bold;
            }

            &:hover {
                color: $accent;
            }
        }
    }
}