//reset 

* {
    box-sizing: border-box;

    &::selection {
        background-color: rgba($accent, 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: $clr3;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

//design 

html,
body {
    font-size: 16px;
    font-family: Noto-regular;
    // background-color: $main-bgc;
    color: $clr1;
    // background-repeat: repeat-y;
    background: linear-gradient(328.78deg, #030086 14.45%, #BD6177 84.36%), linear-gradient(301.28deg, #209B4A 0%, #7000FF 100%), radial-gradient(100% 138.56% at 100% 0%, #D50000 0%, #00FFE0 100%), radial-gradient(100% 148.07% at 0% 0%, #D50000 0%, #00FFFF 100%);
    background-blend-mode: soft-light, overlay, difference, normal;
    animation: bg-animation 5s infinite alternate;
    background-size: 300%;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

button {
    cursor: pointer;
}

footer {
    color: $dark-accent;
    text-align: center;
}