/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $padded-break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $padded-break-wide) {
    @content;
  }
}


// button mixins

@mixin button-reset {
  background: none;
  border: none;
  font-size: 1em;
  font-family: inherit;
}

@mixin btn-1($color) {
  border: 2px solid $color;
  color: $color;
  padding-inline: 0.6em;
  padding-block: 0.3em;
  border-radius: 2em;
  transition: 0.4s;

  &:hover {
    background-color: $color;
    background-blend-mode: overlay;
    color: #fff;
  }
}

// containers 

@mixin box {
  background-color: $light-bgc;
  @include paragraph-format;
}

@mixin paragraph-format {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  // border: 2px solid $clr3;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.3em;
  }
}

//profile-img 

@mixin profile-img($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: rgb(135, 135, 135);
  background-size: $size;
  background-position: cover;
  background-repeat: no-repeat;
  border: 2px solid $dark-accent;
}