@font-face {
    font-family: Noto-regular;
    src: url('/src/assets/font/NotoSans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto-bold;
    src: url('/src/assets/font/NotoSans/NotoSans-Bold.ttf');
}

@font-face {
    font-family: Noto-semibold;
    src: url('/src/assets/font/NotoSans/NotoSans-SemiBold.ttf');
}

@font-face {
    font-family: Noto-light;
    src: url('/src/assets/font/NotoSans/NotoSans-Light.ttf');
}

@font-face {
    font-family: Bellota-regular;
    src: url('/src/assets/font/BellotaText/BellotaText-Regular.ttf');
}

@font-face {
    font-family: Bellota-bold;
    src: url('/src/assets/font/BellotaText/BellotaText-Bold.ttf');
}